<h2>Corona Israeli Health Updates Diff Comparison</h2>
<p>
This is a free service that will check the <a href="https://govextra.gov.il/ministry-of-health/corona/corona-virus/">Israeli Health Ministry's website on Covid-19 (Corona Virus)</a> and check for any updates once a day. If there is an update it will send you a text message at the number you provide. 

Note: This service only works for <b>Israeli phone numbers</b> with a country code of 972.
</p>
<p>
To remove yourself from the SMS list, reply to the text message you receive with the number "1".
</p>
<p>
SMS messages are sent using the <a href="https://developer.nexmo.com">Nexmo SMS API</a>.
</p>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<%= form_with model: @recipient, url: "/recipient/new" do |f| %>
  <%= f.telephone_field :number %>
  <%= f.hidden_field :subscribed, value: true %>
  <%= f.submit "Add Number" %>
<% end %>

<p></p>

<p>
Created by <a href="https://www.bengreenberg.dev">Ben Greenberg</a>.
</p>
<p>
View the source code on <a href="https://github.com/benhayehudi/corona-hebrew-checker">GitHub</a>.
</p>